*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.option{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    width: 400px;
    padding: 20px 50px;
    text-decoration: none;
    background-color: #23689b;
    color: black;
    border: 2px solid black;
    border-radius: 25px;
    display: block;
    margin: 30px;
}